node_modules

.varlet
.idea
.vscode
*.log
.DS_Store
.history
package-lock.json

packages/varlet-vue2-cli/lib/commands
packages/varlet-vue2-cli/lib/compiler
packages/varlet-vue2-cli/lib/config
packages/varlet-vue2-cli/lib/shared
packages/varlet-vue2-cli/lib/index.d.ts
packages/varlet-vue2-cli/site/mobile/*.routes.ts
packages/varlet-vue2-cli/site/mobile/routes.ts
packages/varlet-vue2-cli/site/pc/*.routes.ts
packages/varlet-vue2-cli/site/pc/routes.ts
packages/varlet-vue2-cli/site/site.config.json
packages/varlet-vue2-cli/site/*.site.config.json

packages/varlet-vue2-ui/site
packages/varlet-vue2-ui/lib
packages/varlet-vue2-ui/es
packages/varlet-vue2-ui/umd
packages/varlet-vue2-ui/coverage
packages/varlet-vue2-ui/highlight
