packages/varlet-vue2-cli/lib/**
packages/varlet-vue2-cli/site/**

packages/varlet-vue2-icons/dist/**

packages/varlet-vue2-ui/es/**
packages/varlet-vue2-ui/lib/**
packages/varlet-vue2-ui/umd/**
packages/varlet-vue2-ui/site/**
packages/varlet-vue2-ui/public/**
packages/varlet-vue2-ui/.varlet/**
packages/varlet-vue2-ui/coverage/**
packages/varlet-vue2-ui/highlight/**
packages/varlet-vue2-ui/types/global.d.ts

**/package.json
*.md

pnpm-lock.yaml
pnpm-workspace.yaml
